<?xml version="1.0" encoding="utf-8"?>
<!--TODO: Identifiers-->
<module suppressWarnings="true">

<!--cemetery - [plot - grave markers - burial]
                                     - motif
-->

<Login f="nodata">
  <Login f="noscroll">
    <User  t="list" f="user" l="Control"/>
    <!--TODO: signup-->
  </Login>
</Login>

<Control f="nodata">
  <Control f="noscroll">
    <New_Cemetery                t="button" l="Cemetery"/>
    <List_of_Existing_Cemeteries t="list"   e="Cemetery"/>
  </Control>
  <Plots f="noscroll">
    <Plots t="list" e="Plot"/>
  </Plots>
  <search/>
</Control>

<Cemetery>
  <Administration>
    <Cemetery_Site_Location>
      Site/Location
    </Cemetery_Site_Location>
    <timestamp>
      Date of Recording
    </timestamp>
    <New_Plot               t="button"   lc="Plot"/>
    <List_of_Existing_Plots t="dropdown" ec="Plot"/>
  </Administration>
</Cemetery>

<Plot>
  <Administration>
    <Plot_Site_Location>
      Site/Location
      <!--TODO: Inherit-->
    </Plot_Site_Location>
    <timestamp>
      Date of Recording
    </timestamp>
    <Grave_Number/>
    <Primary_Burial f="readonly">
      <!--TODO: Gotta autofill this apparently-->
    </Primary_Burial>
    <Add_Primary_Burial t="button" lc="Burial">
      <!--TODO: Does this satisfy Brawn's "path" requirement-->
    </Add_Primary_Burial>
    <Orientation>
      <opts>
        <!--TODO:-->
      </opts>
    </Orientation>
    <Total_number_of_Headstones_in_This_Plot b="decimal"/>
    <Photos t="camera"/>
  </Administration>
  <Plot>
    <Plot_Type>
      <opts>
        <!--TODO:-->
      </opts>
    </Plot_Type>
    <Total_number_of_Interments_in_This_Plot b="decimal"/>
    <Fence_Border t="checkbox">
      <opts>
        <!--TODO:-->
      </opts>
    </Fence_Border>
    <Fence_Border_Height>
      Fence/Border Height
    </Fence_Border_Height>
    <Lease_Number/>
    <Lessee/>
    <Date_of_Lease/>
    <Number_of_Burials/>
    <Name/>
    <Date_of_Death/>
    <Age_of_Death/>
    <Cause_of_Death/>
    <Ministers/>
    <Denomination t="checkbox">
      <opts>
        <!--TODO:-->
      </opts>
    </Denomination>
    <Sources t="checkbox">
      <opts>
        <!--TODO:-->
      </opts>
    </Sources>
  </Plot>
  <Marker f="noscroll">
    <Add_Marker               t="button" lc="Marker"/>
    <List_of_Existing_Markers l="list"   ec="Marker"/>
  </Marker>
</Plot>

<Marker>
  <Administration>
    <Marker_Form t="checkbox">
      <opts>
        <!--TODO:-->
      </opts>
    </Marker_Form>
    <Attach_Shape_File   t="file"/>
    <View_Attached_Files t="viewfile"/>
    <Plinth_Height b="decimal">
      Plinth Height (cm)
    </Plinth_Height>
    <Plinth_Depth b="decimal">
      Plinth Depth (cm)
    </Plinth_Depth>
    <Pedestal_Height b="decimal">
      Pedestal Height (cm)
    </Administration>

    <Headstone_monument_Depth b="decimal">
      Headstone/Monument Depth (cm)
    </Headstone_monument_Depth>
    <Headstone_monument_Height b="decimal">
      Headstone/Monument Height (cm)
      <!--TODO: Should this be here?-->
    </Headstone_monument_Height>
    <Headstone_monument_Width b="decimal">
      Headstone/Monument Width (cm)
    </Headstone_monument_Width>

    <Marker_Form t="checkbox">
      <opts>
        <!--TODO:-->
      </opts>
    </Marker_Form>
  </Administration>
  <Inscription>
    <Inscription/>
    <Style_of_Languages t="checkbox">
      <opts>
        <!--TODO:-->
      </opts>
    </Style_of_Languages>
    <Key_Wording t="checkbox">
      <opts>
        <!--TODO:-->
      </opts>
    </Key_Wording>
    <Tense t="checkbox">
      <opts>
        <!--TODO:-->
      </opts>
    </Tense>
    <Author t="checkbox">
      <opts>
        <!--TODO:-->
      </opts>
    </Author>
    <Burials_Described_in_Relation_to t="checkbox">
      <opts>
        <!--TODO:-->
      </opts>
    </Burials_Described_in_Relation_to>
  </Inscription>
  <Burial f="noscroll">
    <Add_Burial               t="button" lc="Burial"/>
    <List_of_Existing_Burials l="list"   ec="Burial"/>
  </Burial>
  <Motif f="noscroll">
    <Add_Motif               t="button" lc="Motif"/>
    <List_of_Existing_Motifs l="list"   ec="Motif"/>
  </Motif>
</Marker>

<Motif>
  <Motif>
    <Motif>
      <opts>
        <!--TODO:-->
      </opts>
    </Motif>

    <Location t="dropdown">
      <opts>
        <!--TODO:-->
      </opts>
    </Location>

  </Motif>
</Motif>

<logic><![CDATA[
/**************************** TIMESTAMP POPULATION ****************************/
  void recordArrivalTime(String val) {
    String ref = "Site_Admin/Admin_Info/Arrival_first_day";

    if (val == null) setToTimestampNow(ref);
    else             setFieldValue    (ref, val);
  }

  void recordDepartureTime(String val) {
    String ref = "Site_Admin/Recommendations/Departure_last_day";

    if (val == null) setToTimestampNow(ref);
    else             setFieldValue    (ref, val);
  }

  void recordTaskClosedAt(String val) {
    String ref = "Task/Task/Task_Closed_at";

    if (val == null) setToTimestampNow(ref);
    else             setFieldValue    (ref, val);
  }

  void recordArrivalTime()   { recordArrivalTime  (null); }
  void recordDepartureTime() { recordDepartureTime(null); }
  void recordTaskClosedAt()  { recordTaskClosedAt (null); }

  void clearArrivalTime()    { recordArrivalTime  (""); }
  void clearDepartureTime()  { recordDepartureTime(""); }
  void clearTaskClosedAt()   { recordTaskClosedAt (""); }

  addOnEvent("Site_Admin/Admin_Info/Record_Arrival_Time",        "click", "recordArrivalTime()");
  addOnEvent("Site_Admin/Recommendations/Record_Departure_Time", "click", "recordDepartureTime()");
  addOnEvent("Task/Task/Task_Closed",                            "click", "recordTaskClosedAt()");

  addOnEvent("Site_Admin", "copy", "clearArrivalTime()");
  addOnEvent("Site_Admin", "copy", "clearDepartureTime()");
  addOnEvent("Task",       "copy", "clearTaskClosedAt()");

/************************ DATE/TIME PICKER POPULATION *************************/
  void setFieldToLastDateInput(String ref) {
    String date = getLastDateAlertInput();
    setFieldValue(ref, date);
  }

  void setFieldToLastTimeInput(String ref) {
    String date = getLastTimeAlertInput();
    setFieldValue(ref, date);
  }

  void showDatePickerActions(String ref) {
    String head  = "Select Date";
    String body  = "";
    String cbOk  = "setFieldToLastDateInput(\"" + ref + "\")";
    String cbBad = "";
    showDateAlert(head, body, cbOk, cbBad);
  }

  void showTimePickerActions(String ref) {
    String head  = "Select Time";
    String body  = "";
    String cbOk  = "setFieldToLastTimeInput(\"" + ref + "\")";
    String cbBad = "";
    showTimeAlert(head, body, cbOk, cbBad);
  }

  void bindDatePicker(String ref) {
    String cb = "showDatePickerActions(\"" + ref + "\")";
    addOnEvent(ref, "focus", cb);
  }

  void bindTimePicker(String ref) {
    String cb = "showTimePickerActions(\"" + ref + "\")";
    addOnEvent(ref, "focus", cb);
  }

  List getDateTimeRefs() {
    List refs = new ArrayList();

    refs.add("Site_Admin/Recommendations/Date_of_APZ_Completion");
    refs.add("Site_Admin/Recommendations/Date_of_APZ_Handover");
    refs.add("Site_Admin/Recommendations/Time_of_APZ_Completion");
    refs.add("Site_Admin/Recommendations/Time_of_APZ_Handover");

    return refs;
  }

  bindDatePicker("Site_Admin/Recommendations/Date_of_APZ_Completion");
  bindDatePicker("Site_Admin/Recommendations/Date_of_APZ_Handover");
  bindTimePicker("Site_Admin/Recommendations/Time_of_APZ_Completion");
  bindTimePicker("Site_Admin/Recommendations/Time_of_APZ_Handover");

  // Clear the value at `ref` when the entity containing it is duplicated
  for (String ref : getDateTimeRefs()) {
    String tg  = getTabGroupRef(ref);
    String evt = "copy";
    String cb  = "setFieldValue(\"%s\", \"\")";
    cb = replaceFirst(cb, ref);

    addOnEvent(tg, evt, cb);
  }

/******************************** INHERITANCE *********************************/
  void copyTaskDoeSiteSchool () {
    String src = "Site_Admin/Admin_Info/DoE_Site_School";
    String dst = "Task/Vars/Task_DoE_Site_School";

    copyFieldValue(src, dst, false);
  }

  addOnEvent("Task", "create", "copyTaskDoeSiteSchool()");
]]></logic>

</module>
